/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

code {
  font-family: var(--font-family-mono);
}

/* THEME VARIABLES */
html {
  --viewport-padding: 16px;
}

::-webkit-scrollbar {
  width: "0.6em";
}

@keyframes smoke {
  0% {
    opacity: 1;
    border-radius: 50%;
    transform: scale(1);
  }
  80% {
    transform: translate3d(40px, -150px, 0px) rotate(20deg) skew(-30deg)
      scale(2);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    border-radius: 50%;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes smoke {
  0% {
    opacity: 1;
    border-radius: 50%;
    transform: scale(1);
  }
  80% {
    transform: translate3d(40px, -150px, 0px) rotate(20deg) skew(-30deg)
      scale(2);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    border-radius: 50%;
  }
  100% {
    opacity: 0;
  }
}

.chimney-smoke {
  animation: smoke 3.5s infinite ease-out;
  -webkit-animation: smoke 3.5s infinite ease-out;
  background: RGBA(0, 0, 0, 0.36);
  background: -webkit-repeating-linear-gradient(
    90deg,
    transparent 0%,
    RGBA(0, 0, 0, 0.36) 50%
  );
  background: -o-repeating-linear-gradient(
    90deg,
    transparent 0%,
    RGBA(0, 0, 0, 0.36) 50%
  );
  background: -moz-repeating-linear-gradient(
    90deg,
    transparent 0%,
    RGBA(0, 0, 0, 0.36) 50%
  );
  background: repeating-linear-gradient(
    90deg,
    transparent 0%,
    RGBA(0, 0, 0, 0.36) 50%
  );
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -ms-filter: blur(4px);
  -o-filter: blur(4px);
  filter: blur(4px);
  height: 100%;
  position: relative;
  width: 100%;
}

/* @media (prefers-color-scheme: dark) {
  .chimney-smoke {
    animation: smoke 3.5s infinite ease-out;
    -webkit-animation: smoke 3.5s infinite ease-out;
    background: RGBA(255, 255, 255, 0.36);
    background: -webkit-repeating-linear-gradient(
      90deg,
      transparent 0%,
      RGBA(255, 255, 255, 0.36) 50%
    );
    background: -o-repeating-linear-gradient(
      90deg,
      transparent 0%,
      RGBA(255, 255, 255, 0.36) 50%
    );
    background: -moz-repeating-linear-gradient(
      90deg,
      transparent 0%,
      RGBA(255, 255, 255, 0.36) 50%
    );
    background: repeating-linear-gradient(
      90deg,
      transparent 0%,
      RGBA(255, 255, 255, 0.36) 50%
    );
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
    height: 100%;
    position: relative;
    width: 100%;
  }
} */

#chimney-smoke2 {
  top: -55px;
  animation-delay: 0.5s;
}
#chimney-smoke3 {
  top: -105px;
  animation-delay: 1s;
}
#chimney-smoke4 {
  top: -155px;
  animation-delay: 1.5s;
}
#chimney-smoke5 {
  top: -205px;
  animation-delay: 2.5s;
}
#chimney-smoke6 {
  top: -255px;
  animation-delay: 3s;
}
